.cover-container {
    margin-top: 20px;
  }
  
  .cover-column {
    position: relative;
  }
  
  .cover-photo {
    background-image: url('./portada.jpeg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
  }
  
  /* Fondo oscuro y semi-transparente detrás del texto para mejorar la visibilidad */
  .cover-photo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Fondo negro con transparencia */
    z-index: 1;
  }
  
  .cover-text {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    z-index: 2; /* Asegurarse de que el texto esté sobre el fondo */
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7); /* Sombra para darle resplandor */
    padding: 10px;
  }
  
  .sidebar-column {
    padding-top: 20px;
  }
  
  .small-image {
    width: 100%;
  }
  
  .small-image img {
    width: 100%;
    height: 350px;
  }
  